.footer-title {
	letter-spacing: 1px;
	font-size: 1.15rem;
	color: #ffffff;
}

.icon-link {
	letter-spacing: 1px;
	font-size: 1.15rem;
	color: #ffffff;
	padding-right: 4%;
}

.color{
	background-color: #8a1534;
	
}

.copyright{
	padding-top: 8%;
}